*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: rgb(82, 82, 82);
}

html{
  font-size: 10px;
  /* font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif; */
}
header{
margin-top:0;
background: #eceef1;
}

.container{
  background: #eceef1;
}

.sign{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}