*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: rgb(82, 82, 82);
}

html{
  font-size: 10px;
}

.container{
  padding: 1rem 3rem 1rem 1rem;
  background: #eceef1;
}

.sign-div{
  display:grid;
  grid-template: auto/auto auto;
  justify-content: end;
  align-items: center;
  justify-items: center;
  font-size: 1.2rem;
}

.sign-in-text{
  padding-right: 10px;
}

.sign-div a{
  color: #0077c5;
}

.sign-in-btn{
  width: 101px;
  height:34px;
  background-color: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.logo-img{
  width: 118px;
  height: 35px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  margin:0 auto;
}

.logo-1{
  width: 70px;
  height: 30px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: -254px 30px;
}

.logo-2{
  width: 125px;
  height: 30px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: -115px 30px;
}

.logo-3{
  width: 100px;
  height: 30px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: 0px 30px;
}

ul{
  list-style-type: none;
}

li{
  display:inline-block;
}

.form-container{
  margin:0 auto;
  border: 1px solid #afafaf;
  border-radius:2px;
  background: #fff;
  width:389px;
}

form{
  padding: 30px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

 .top-text{
  margin:0 auto;
  border: none;
  display: flex; 
  flex-direction: column;
  padding-bottom: 10px;
}

.top-text span{
  font-size: 24px;
  margin: 0 auto;
}

.top-text p{
  font-size: 14px;
  color: #4c4c4c;
  margin: 0 auto;

}

form label{
  font-size: 14px;
  color: #404040;
  font-weight: 400px;
  padding: 30px 0px 10px 0px;
}

form input{
  margin:0 auto;
  width:320px;
  height:35px;
  border: 1px solid #afafaf;
  border-radius: 3px;
}

a{
  font-size: 11px;
  color: #0077c5;
  text-decoration: none;
  margin: 0 auto;
}
fieldset{
  border: none;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
 
} 

.small-logos{
  padding:20px;
  display:grid;
  align-items: center;
  justify-items: center;
}


footer{
  background: #eceef1;
  text-align: center;
  color: #505050;
  line-height: 18px;
}
.form-footer{
  background-color: #eceef1;
  margin: 32px -30px -30px;
  padding: 20px;
  text-align: center;
}

.create-btn{
  margin:0 auto;
  width: 318px;
  height:44px;
  background-color: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  display:flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  
}

.btn-type{
  color: white;
}
.advice{
  text-align: center;
  padding: 28px 14px 20px 14px;
}