*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: rgb(82, 82, 82);
}

html{
  font-size: 10px;
}

.container{
  padding: 1rem 3rem 1rem 1rem;
  background: #eceef1;
}

.sign-div{
  display:grid;
  grid-template: auto/auto auto;
  justify-content: end;
  align-items: center;
  justify-items: center;
  font-size: 1.2rem;
}

.sign-in-text{
  padding-right: 10px;
}

.sign-div a{
  color: #0077c5;
}

.sign-in-btn{
  width: 101px;
  height:34px;
  background-color: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sign-in-btn span{
  color:#fff;
}

.padlock{
  width: 1rem;
  height: 1rem;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);
}

.logo-img{
  width: 118px;
  height: 35px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  margin:0 auto;
}

.logo-1{
  width: 70px;
  height: 30px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: -254px 30px;
}

.logo-2{
  width: 125px;
  height: 30px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: -115px 30px;
}

.logo-3{
  width: 100px;
  height: 30px;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: 0px 30px;
}

ul{
  list-style-type: none;
}

li{
  display:inline-block;
}

.form-container{
  margin:0 auto;
  border: 1px solid #afafaf;
  border-radius:2px;
  background: #fff;
  width:389px;
}

form{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

 .top-text{
  margin:0 auto;
  border: none;
  display: flex; 
  flex-direction: column;
}

.top-text span{
  font-size: 22px;
  margin: 0 auto;
}

.top-text p{
  font-size: 15px;
  color: #555353;
  margin: 0 auto;
}

.top-text a{
  font-size: 11px;
  color: #0077c5;
  text-decoration: none;
  margin: 0 auto;
}
fieldset{
  border: none;
  display: flex; 
  flex-direction: column;
} 

.small-logos{
  padding:20px;
  display:grid;
  align-items: center;
  justify-items: center;


}
